@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

/* -------- Header ------- */
body {
    margin: 0;
    font-family: Dosis, 'Arial', sans-serif;
    max-width: 1200px;
    margin: auto;
    background-color: lightgray;
}
#message-container {
    background-color: #ffd700; /* Yellow background, adjust as needed */
    color: #333; /* Text color, adjust as needed */
    padding: 10px;
    text-align: center;
    position: relative;
}

#closeable-message {
    display: inline-block;
    margin: 0;
}

#close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333; /* Close button color, adjust as needed */
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}
footer {
    text-align: center;
    background-color: #282525;
    padding: 10px;
    color: #fff;
}

#social a img {
    display: inline-block;
    margin: auto;
    max-width: 50px;
    padding: 10px;
}
.navbar div {
    display: flex;
    text-align: center;
    max-width: 800px;
    margin: 20px auto -10px auto;
    padding: 0px 0px 20px 0px;
}
.menu ul {
    list-style: none;
    /* margin: auto; */
    display: flex;
}
.menu ul li {
    margin: 0px 10px 0px 20px;
    padding: 0px 20px;
}

#logoimg {
    position: absolute;
    max-width: 25%;
    padding: 0 0 0 10px;
}
#top-msg a {
    text-decoration: none;
}
#top-msg a p {
    
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 22px;
    margin: 10px 30% 0px 30%;
    border-radius: 40px;
}
#top-msg a p:hover {
    background-color: gold;
    color: black;
}


.menu li {
    margin: 0 15px;
}
.menu::before {
	content: "☰";
    font-size: 2.5rem;
	color: #fff;
    margin: 5px;
}
.menu.open::before {
	content: "🎄";
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}




.navbar li {
    display: none;
}
.navbar li a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}
.navlist {
	list-style-type: none;
}
.navbar a:hover {
    color: #137300;
}
.menu.open {
    
}
.open ul {
    flex-direction: column;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}











/* --------- MAIN -------- */
main {
    display: grid;
    grid-template-columns: 100%;
    background-color: lightgrey;
}
.navbar {
    font-family: Dosis, Arial, Helvetica, sans-serif;
}
#top {
    background-color: rgb(21, 108, 4);
    text-align: center;
    font-size: 20px;
    font-family: Dosis, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 139, 0, 0.886);
    padding: 10px 0px 10px 0px;
}
header div h4 {
    margin: 0 20px;
}
.maincard {
    text-align: center;
    padding: 0 0 15px 0;
}
.card {
    grid-column: 1/2;
    background-color: rgb(168, 171, 172);
    border-radius: 10%;
    margin: 15px;
    
}
.weather {
    text-align: center;
    margin: 0px;
    padding: 20px;
}
#day1 {
    grid-column: 1/2;
}
#day2 {
    grid-column: 2/3;
}

#bookstatement {
    background-color: #fff;
    border-radius: 70px;
    grid-column: 1/2;
    text-align: center;
    text-decoration: none;
}
#contactus {
    text-decoration: none;
    text-align: center;
    grid-column: 2/3;
    
}
.action {
    text-align: center;
    display: inline-block;
    margin: 10px 2% 5px 2%;
    background-color: #a7a7a7;
    border-radius: 70px;
    width: 200px;

}
.action:hover {
    background-color: #137300;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: 20px auto 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgb(255, 204, 0);
    z-index: -1;
    /* max-width: 70%; */
}



/* -----------------------        Next & previous buttons        ------------------------- */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #333;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* --------------------------         Side Bar Main       ------------------------- */

#sidebar-main {
    grid-column: 1/3;
    max-width: 1200px;
    
}
#sidebar-main h4 {
    text-align: center;
    font-size: 32px;
    background-color: rgba(0, 121, 20, 0.912);
    color: #fff;
    padding: 10px;
    margin: 0px 0px -5px 0px;
}
#scrolling-list-main {
    text-align: center;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    background-color: #333;
    height: 100%;
}
#scrolling-list-main li {
    width: 200px;
    height: 100px;
    display: block;
    margin: 150px 15px;
    text-decoration: none;
    padding: 0px 10px;

}
.profDiv-main {
    background-color: rgb(187, 236, 255);
    border: rgba(0, 121, 20, 0.912) 3px solid;
    border-radius: 15px;
    box-shadow: 5px 2px #ebebeb;
    height: 200px;
}
.profDiv-main:hover {
    background-color: rgb(255, 255, 255);
    color: #222;
}
.sidepic {
    width: 130px;
    height: 100px;
    margin: 5px;
    border: 1px solid white;
}
.profDiv-main p {
    font-size: 18px;
}
.prices-main {
    color: #fff;
    padding: 25px;
    margin-left: -20px;
}

/* ------------------------          Side Bar Styling       -----------------------*/
#sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(57, 57, 57) ;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 skyblue;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
div.profDiv img {
    border: solid 2px #137300;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.473);
    width: 80px;
    height: 80px;
}
#scrolling-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    white-space: nowrap;  
    position: absolute;
}
.profDiv {
    background-color: rgb(35, 62, 73);
    color: #fff;
    margin: 15% 5%;
    padding: 15px 0;
    border: rgba(0, 121, 20, 0.912) 3px solid;
    border-radius: 15px;
}
.profDiv:hover {
    background-color: rgb(255, 255, 255);
    color: #222;
}
.profDiv p {
    font-size: 22px;
}


/* -------------------------     Table Styling        ----------------------- */




/* -------------------------     Form Styling         -------- -------------- */
:root {
    --back: hsla(150, 50%, 30%, 1);
    --back2: hsla(150, 50%, 30%, .5);
    --foredark: hsla(0,0%,10%,1);
    --forelight: hsla(0,0%,100%,1);
    --border: hsla(0, 42%, 48%, 0.8);
    --borderlight: hsla(0,0%,33%,.3);
    --shadow: hsl(0,0%,50%);
    --zebra: hsla(0, 1%, 68%, 0.985);
}
main div#form {
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
}


form fieldset {
    text-align: left;
    font-family: Dosis, Arial, Helvetica, sans-serif;
    margin: 2rem 2%;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: 1rem 2%;
}
form legend {
    color: #9c2c13;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.input {
    display: block;
    font-family: Dosis, Arial, Helvetica, sans-serif;
    padding-top: .5rem;
    color: #9c2c13;
    font-size: 1rem;
}
form label.input input, form label.input select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px grey;
    border-radius: 4px;
    padding: .75rem;
    margin: 0 0 15px 0;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label #update {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px grey;
    border-radius: 4px;
    padding: .75rem;
    margin: 0 0 15px 0;
    color: #555;
    width: 90%;
    /* max-width: 20rem; */
    background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
    border: none;
    background-color: #3f7c33;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1rem;
    margin: 0 0 2rem 5%;
    min-width: 100px;
    max-width: 20rem;
}
/* ------------------------          Side Bar Styling       -----------------------*/
#price-table {
    grid-column: 1/3;
    text-align: center;
    
    padding: 15px;
    
}
table {
    width: 100%;
    margin: auto;
    border: 1px solid;
    padding: 5px;
}
tr th {
    background-color: #666;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* ----------------------         Form Style         -------------------------- */
#reservations-home {
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
#thanksDiv {
    padding: 5% 2% 20% 2%;
    text-align: center;
    display: block;
}

#form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#updateForm {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
}

fieldset {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    grid-column: span 2;
}

legend {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.input {
    display: block;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.input span {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    grid-column: span 2;
}

.submitBtn:hover {
    background-color: #45a049;
}

/* ----------- Record HTML Submission ----------- */


#tq {
    grid-column: 1/3;

}
#tqp {
    grid-column: 1/3;
    margin: auto;
    padding: 2rem 0;

}
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}
.weather h2 {
    grid-column: 1/3;
    text-align: center;
    font-size: 28px;
}
.weather img {
    margin: auto;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
}
#today-forecast {
    grid-column: 2/3;
}
#feels-like {
    grid-column: 1/2;
    grid-row: 4/5;
}
#tomorrow3p {
    grid-column: 1/3;
}
#temperature {
    grid-column: 1/2;
    grid-row: 2/3;
}
#humidity {
    grid-column: 2/3;
    grid-row: 2/3;
}
#description {
    grid-column: 1/3;
}
#contact-info {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact-info h3 {
    grid-column: 1/3;
    text-align: center;
    width: 100%;
    font-size: 28px;

}
#locationone {
    grid-column: 1/2;
    text-align: center;
}
#locationtwo {
    grid-column: 2/3;
    text-align: center;
}
#map {
    width: 100%;
}
#map h4 {
    font-size: 28px;
    text-align: center;
}
#extra-info {
   background-color: #333; 
    grid-column: 1/3;
    text-align: center;
}
#extra-info h2 {
    margin: 2% 35% 0% 35%;
    background-color: #137300;
    color: #fff;
    font-size: 30px;
    border-radius: 40px;
    padding: 10px;
}
#extra-info li {
    font-size: 18px;
    list-style: none;
    color: #fff;
    margin: 10px;
}
#extra-info li:hover {
    color: #137300;
}