@media screen and (min-width: 500px){
    header {
        background-color: black;
        color: white;

    }
    main {
        grid-template-columns: 1fr 1fr;
        background-color: skyblue;
        margin: 0 auto;

    }
}