@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Slabo+27px&display=swap');


header h1 {
    text-align: center;
    color: #e36414;
    background-color: #0f4c5c;
    margin: auto;
    padding: 20px;
    font-family: Nunito, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navigation {
    display: flex;
    flex-direction: column;
    border: none;
    list-style: none;
    color: #5f0f40;
    background-color: #0f4c5c;
    margin: 0 auto;
    max-width: 300px;
}
nav {
  background-color: #0f4c5c;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: navy;
	color: white;
    margin: auto;
 	position: middle;
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "🏌️‍♂️";
}



.navigation li a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.navigation li a:hover {
    background-color: #0f4c5c;
    color: #e36414;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
.navigation ol {
list-style-type: none;
}
.open li {
display: block;
width: 100%;
}
.open li a {
display: block;
}
.active::before {
content: "👉 ";
}





main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  
}
.maincard {
    text-align: center;
}
#heroimgcard p {
    grid-row: 1/2;
    z-index: 1;
}
#heroimg {
    width: 100%;
    grid-row: 1/2;
    z-index: -1;
}
#herolabel {
    padding: 3px;
    border: 2px solid black;
    width: max-content;
    background-color: #0f4c5c;
    display: ;
    position: absolute;
    font-size: 200%;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 80;
    text-align: center;
}
#joinuscard {
  background-color: #0f4c5c;
  
    
}
.switch {
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 85%;
    width: 35px;
    height: 20px;
    margin-top: 5px;

  }
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  #darkModeLabel {
    position: absolute;
    left: 85%;
    top: 12%;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1.08px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0f4c5c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch p {
    display: block;
    color: white;
    font-size: 14px;
    font-family: Slabo, Verdana, Geneva, Tahoma, sans-serif;
  }
  .slider.round:after {
    color: #fb8b24;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }


.maincard h2 {
    color: #e36414;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: #0f4c5c;
    margin: auto;
    
}
.maincard p {
    font-family: Nunito, Arial, Helvetica, sans-serif;
}
.maincard {
    border: 2px solid black;
}

footer {
    background-color: #0f4c5c;
    color: #fb8b24;
}





/* DISCOVER PAGE CSS */




#discoverMain {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  
}
#discoverImages {
  align-items: center;
  margin: auto;
}

#discoverImages img {
  padding-bottom: 40px;
  max-width: 70%;
}

.eventCard {
  font-family: Croissant+One;
  background-color: #0f4c5c;
  border-radius: 25px;
  padding: 10px 50px 20px 50px;
  max-width: 250px;
  margin: 15px 1rem;
  font-family: Slabo, Arial, Helvetica, sans-serif;
  text-align: left;
}
.scrolling-div {
  text-align: center;
  margin: auto;
  width: 200px;
  height: 400px; 
  overflow: hidden;
  position: relative;
}
.scrolling-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
  position: absolute;
  animation: scroll 15s linear infinite -10s; 
}
.scrolling-div:hover .scrolling-list {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}
.scrolling-list h2 {
  font-family: Slabo;
}
.scrolling-list li {
  font-family: Croissant+One, Arial, Helvetica, sans-serif;
  background-color: rgb(49, 151, 160);
  padding: 20px 10px 0px 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*----------- Form Design ----------*/

form fieldset {
  text-align: left;
  margin: 2rem 2%;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 1rem 10% 0 2%;
}
form legend {
  color: #9c2c13;
  margin: 0 1rem;
  padding: 0 .5rem;
}
form label.top, form div, #ratingLabel, label.mid {
  display: block;
  font-family: Dosis, Arial, Helvetica, sans-serif;
  padding-top: .5rem 1%;
  color: #9c2c13;
  font-size: 1rem;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px grey;
  border-radius: 4px;
  padding: .75rem;
  margin: 0 0 15px 0;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}
label.mid {
  padding: 10px;

} 
form input.submitBtn {
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 1rem;
  padding: .75rem 0;
  margin: 0 5% 2rem 0%;
  width: 100%;
  max-width: 20rem;
}
form input.submitBtn:hover {
  color: black;
  background-color: green;
  border: solid 2px green;
}
memberBenefits {
  grid-column: 2/4;
}
#timeStamp {
  grid-column: 1/2;
}

/* -------- Business Directory -------- */

#directorymain {
  display: block;
  
}


#directory section {
  text-align: center;
  border-radius: 20px;
  margin: 20px 0 0 0;
  padding: 5px 5px;
  align-items: center;
}
#directory section img {
  opacity: 50%;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: .5rem;
	background-color: #0f4c5c;
	text-align: center;
  width: 200px;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.list {
	display: flex;
	flex-direction: column;
  
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
  justify-content: center;
  background-color: #445ba9;
  
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Croissant One, Roboto, Helvetica, sans-serif;
}
.list section p {
  font-family: Slabo, Arial, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: rgba(0, 174, 197, 0.983);
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
  background-color: #146f85;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}