@media screen and (min-width: 500px) {
    .navigation {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 18px;
        max-width: 100%;
    }
    .navigation li {
		display: block;
		flex: 1 1 100%;
	}
    nav {
        background-color: black;;
    }
    #menu {
        display: none;
    }
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        margin: auto;
    }
    .switch {
        top: 10px;
        left: 90%;
    }
    #heroimgcard {
        grid-column: 1/3;
        margin: auto;
    }
    #herolabel {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    footer {
        text-align: center
    }

    #darkModeLabel {
        position: absolute;
        left: 90%;
        top: 4%;
    }



    /* DISCOVER PAGE */


    #discoverMain {
        display: grid;
        grid-template-columns: 300px 1fr;
        max-width: 80%;
        background-color: lightseagreen;
        
    }
   
    #sidebar {
        margin: 0 auto;
    }
    #discoverHeading {
        text-align: center;
    }
    #discoverSidebar {
        grid-column: 1/2;
    }
    #discoverImages {
        grid-column: 2/3;
    }
    #discoverImages img {
        max-width: 78%;
    }
    /* ---- Form ---- */
    form {
        grid-column: 1/2;
    }
    /* form label.mid {
        display: inline-block;
        margin-right: 20px; 
    } */
    .memberBenefits {
        grid-column: 2/4;
    }
    #timeStamp {
        grid-column: 1/2;
    }
    #spotlight {
        grid-column: 2/3;
      }

}


