@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Slabo+27px&display=swap');


header {
    display: block;
    max-width: 800px;
    background-color: rgb(30, 131, 220);
    margin: auto;
    align-items: center;
    font-family: Croissant One,'Courier New', Courier, monospace;
}
header h1 {
    margin: auto;
    text-align: center;
    font-size: 26px;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: navy;
	color: white;
    margin: auto;
 	position: middle;
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "🏌️‍♂️";
}
nav {
    background-color: navy;
}
.navigation {
    display: flex;
    flex-direction: column;
    border: none;
    list-style: none;
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
    
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.navigation ol {
	list-style-type: none;
}
.navigation a:hover {
    background-color: white;
    color: crimson;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
.active::before {
	content: "👉 ";
}
#topimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #093A3E;
    font-family: Slabo, Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    grid-gap: 20px;
    
}
.card {
    height: 300px;
    background-color: #3AAFB9;
    border-radius: 30px;
    margin: 0 15px;
}
.card h3 {
    font-family: Slabo, Helvetica;
    color: #093A3E;
}
#location, #weatherIcon, #currentTemp {
    font-family: Croissant One, Arial, Helvetica, sans-serif;
    color: #093A3E;
}
#description, .visits {
    font-family: Slabo, Arial, Helvetica, sans-serif;
    color: #093A3E;
}
#heroimg {
    width: 100%;
}
#herolabel {
    grid-column: 1/2;
    position: absolute;
    left: 45%;
    top: 65%;
    /* border: 2px solid white; */
    color: black;
    font-family: Croissant One;
    padding: 10px;
    opacity: 70%;
    box-shadow: 0 0 4rem grey;
    background: radial-gradient(white, darkgrey);
    /* border-image: radial-gradient(#f6b73c, #4d9f0c); */
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    transform: translate(-50%,-50%);
}
#assignments li {
    text-align: left;
}

footer {
    
    max-width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: auto;
    background-color: rgb(30, 131, 220);
}