@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Slabo+27px&display=swap');


header {
    display: block;
    background-color: rgb(30, 131, 220);
    margin: auto;
    align-items: center;
    font-family: Croissant One,'Courier New', Courier, monospace;
}
header h1 {
    margin: auto;
    text-align: center;
}
nav {
    background-color: black;
    margin: 0 auto;
    
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav ul {
	list-style-type: none;
}


#topimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    font-family: Slabo, Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    text-align: center;
    background-color: rgb(30, 131, 220);
}